*{ 
     margin: 0; 
     padding: 0; 
     box-sizing: border-box; 
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
     background-color:  #0d112d;
     user-select: none; 
 } 
  
 body{ 
     display: flex; 
     align-items: center; 
     justify-content: center; 
     height: 100vh; 
 } 
  
 .container{ 
     display: inline-flex; 
 } 
  
 h1{ 
     color: white; 
     font-weight: 100; 
     font-size: 4.3rem; 
 } 
  
 .wrapper{ 
     margin-left: 15px; 
     height: 100px; 
     overflow: hidden; 
     line-height: 100px; 
 } 
  
 .wrapper li{ 
     list-style: none; 
     font-size: 4rem; 
     color: tomato; 
     position: relative; 
     top: 0; 
     animation: slide 8s steps(4) infinite; 
 } 
  
 @keyframes slide { 
     100%{ 
         top: -410px; 
     } 
 } 
  
  
 .wrapper li::before{ 
     content: ""; 
     position: absolute; 
     width: 100%; 
     height: 100%; 
     border-left: 2px solid tomato; 
     background:  #0d112d;
     left: 0; 
     animation: typing 2s steps(10) infinite; 
 } 
  
 @keyframes typing { 
     40%, 60%{ 
         left: 100%; 
       } 
       100%{ 
         left: 0; 
       } 
 } 
  
 @media screen and (max-width:700px) { 
     h1{ 
         font-size: 2rem; 
     } 
  
     .wrapper{ 
         height: 30px; 
         line-height: 30px; 
     } 
  
     .wrapper li{ 
         font-size: 2rem; 
     } 
  
     @keyframes slide { 
         100%{ 
             top: -120px; 
         } 
     } 
  
 }