
 
 
 body{
 	background-color: white;
 
 }
 
 h1{
Font-family: FreeMono, monospace;
font-size: 25px;
color: black;
background-color:blue;

	}
	
	.titulo{
box-shadow: 1px 1px 7px 1px;



}
 
 .imagem1{
 	
border-radius:10px;
border-color:#14e6ff;
box-shadow: 1px 1px 7px 1px;
color:blue;
 	
 }
 
 .imagem2{
 	border-radius: 15px;
 	border-color: #14e6ff;
 box-shadow: 1px 1px 7px 1px;
 color:blue;
 
 }
 
 p{
 	color: white;
 }
 
 li{
color: black;
box-shadow: 1px 1px 1px 1px;
width: 150px;
heigth: 50px;
}

a{
text-decoration: none;
}
