
 
 
 body{
 	padding: 0px;
 	background-color: white;
 background-image: url("IMG-20230627-WA0096.jpg");
background-repeat: repeat;
background-size: auto;
background-visibilty:50px;
background-position: center;

 }
 
 
 h1{
Font-family: FreeMono, monospace;
font-size: 20px;
color: white;;
background-color:blue;
border-radius: 10px;
overflow:hidden
padding:0px;
justify-content: center; 
  align-items: center;
  display: flex;


	}
	
	.titulo{
box-shadow: 3px 1px 7px 3px;
background-color: #8600d6;
color: black;
height:50px;
width:380px;
padding-left:280px;
padding-top:70px;
justify-content: center; 
  align-items: center;
  display: flex;
font-size:25px;
font-family: Times new roman;
overflow:hidden;
padding:0px;

}
 
 	
.imagem1{
border-radius:10px;
border-color:#14e6ff;
box-shadow: 1px 1px 7px 1px;
color:#c420ec;
 	}

 
 
 
 .imagem2{
 	border-radius: 15px;
 	border-color: #14e6ff;
 box-shadow: 1px 1px 7px 1px;
 color:blue;
 
 }
 
 p{
 	color: white;
 }
 
 button{
width: 150px;
height: 30px;
border-radius:5px;
border-color: black;


}

.menu{
	border-color: white;
	box-shadow: 3px 3px 7px 2px;
	background-color: purple;
	color:black;
	font-size:15px;
Font-family: FreeMono, monospace;
	}
	

a{
text-decoration: none;
}

h5{
	color: white;
	border-top: rgb(69, 69, 69) solid;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	.Dias{
		color: blue;
	}
	
	.java{
		color: green;
		}
	