 .botao{
 	width:200px;
 height :50px;
 	background-color: #0d112d;
 color:  white;
 border-radius:75px;
 border-color: #14e6ff;
 font-size: 16px;

 }
 
 .botao2{
width:100px;
 height :30px;
 	background-color: #14e6ff;
 color:  white;
 border-radius:75px;
 border-color: #0d112d;
 font-size: 15px;
 
 

}
 
 
 body{
 	background-color: #0d112d;
 
 }
 
 h1{
Font-family: FreeMono, monospace;
color: #14e6ff;

	}
	
	.titulo{
box-shadow: 1px 1px 7px 1px;


}
 
 .imagem1{
 	
border-radius:50px;
border-color:#14e6ff;
box-shadow: 1px 1px 7px 1px;
 	
 }
 
 .imagem2{
 	border-radius: 15px;
 	border-color: #14e6ff;
 box-shadow: 1px 1px 7px 1px;
 
 }
 
 p{
 	color: white;
 }